<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daawtec.scancheck">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/scancheck_colored_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemePurple"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SupervisionActivity"
            android:label="Formulaire de supervision"
            ></activity>
        <activity android:name=".CheckActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".utils.CreateAgentActivity"
            android:label="Enregistrer Agent Denombrement" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppThemePurple.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="SANRU Digital" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppThemePurple.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateMenageActivity" />
        <activity android:name=".CreateRapportActivity" />
        <activity android:name=".SyncActivity" />
        <activity
            android:name=".ParameterActivity"
            android:label="Parametres" />
    </application>

</manifest>